* {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  overflow: hidden;
}

body {
  color: #aaa;
  background: url("./bg1.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 0 -100px;
}

.stats {
  display: flex;
  font-size: 0.5rem;
}

.character-container {
  position: absolute;
  bottom: -70px;
  left: 0;
  margin: 0;
}

.character {
  image-rendering: pixelated;
}
