html,
body {
  padding: 0;
  margin: 0;
}

.annotate-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 16px;
  background: #f8f8f8;
  border-bottom: 1px solid #e2e2e2;
  padding: 16px;
  z-index: 99999999;
}

.draw {
}

svg {
  /* border: 2px solid green; */
  pointer-events: none;
}

svg path {
  cursor: pointer;
  pointer-events: auto;
}

.draw button {
  position: absolute;
  right: 0;
  top: 0;
}

.draw-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  cursor: url(tip.png) 3 4, crosshair;
}
