* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Press Start 2P", cursive;
}

#canvas {
  border: 5px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
